.CategoryContainer {
    width: 1000px;
    height: 310px;
    position: absolute;
    box-shadow: 1px 1px 8px 0px #c7c7c7;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.CategoryWrapper {
    width: 1000px;
    height: 310px;
    position: absolute;
    box-shadow: 1px 1px 8px 0px #c7c7c7;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.CategoryContainer {
    animation: filter_open 0.3s ease-in-out;
}

.CategoryWrapper {
    animation: filter_open_list 0.3s ease-in-out;
}

@keyframes filter_open {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(0);
    }
    30% {
        opacity: 0.5;
        transform: translateX(-50%) translateY(-50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
}

@keyframes filter_open_list {
    0% {
        opacity: 0;
        transform: translateX(50%) translateY(-50%) scale(0);
    }
    30% {
        opacity: 0.5;
        transform: translateX(50%) translateY(-50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0) translateY(0) scale(1);
    }
}