.ModalContainer {
    width: 375px;
    height: 700px;
    border: 2px solid #EC8D49;
    border-radius: 10px;
    background-color: #fcfcfc;
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 2px 10px 2px #c7c7c7;
    animation-name: fade_in_1;
    opacity: 0;   
}

.ChatInputBox {
    width: 100%;
    max-height: 60px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: #ffb37c;
    border-radius: 50px;
    border: 2px solid #ffb37c;
}

.NotFocus {
    width: 100%;
    max-height: 60px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: #ffb37c;
    border-radius: 50px;
    border: 2px solid #ffb37c;
}

.ChatInputBox:hover {
    box-shadow: 0px 0px 5px 0px #ffb37c;
}

.NotFocus:hover {
    box-shadow: 0px 0px 5px 0px #ffb37c;
}

.ModalContainer {
    animation: fade_in_1 1.5s forwards;
}

.ChatInputBox {
    animation: fade_in_2 0.5s forwards;
}

@keyframes fade_in_1 {
    0%, 10% {
        opacity: 0;
        transform: translateY(8rem) scale(0);
    }
    30%, 100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fade_in_2 {
    0% {
        border-top: 2px solid #ffb37c;
        border-right: 2px solid #ffb37c;
        border-bottom: 2px solid #ffb37c;
        border-left: 2px solid #ffb37c;
    }
    25% {
        border-top: 2px solid #0fc4ac;
        border-right: 2px solid #ffb37c;
        border-bottom: 2px solid #ffb37c;
        border-left: 2px solid #ffb37c;
    }
    50% {
        border-top: 2px solid #0fc4ac;
        border-right: 2px solid #0fc4ac;
        border-bottom: 2px solid #ffb37c;
        border-left: 2px solid #ffb37c;
    }
    75% {
        border-top: 2px solid #0fc4ac;
        border-right: 2px solid #0fc4ac;
        border-bottom: 2px solid #0fc4ac;
        border-left: 2px solid #ffb37c;
    }
    100% {
        border-top: 2px solid #0fc4ac;
        border-right: 2px solid #0fc4ac;
        border-bottom: 2px solid #0fc4ac;
        border-left: 2px solid #0fc4ac;
    }
}

@media screen and (max-width: 1600px) {
    .ModalContainer {
        bottom: 50px;
        right: 20px;
    }
}

@media screen and (max-width: 500px) {
    .ModalContainer {
        bottom: 0;
        right: 0;
    }
}